.widget {
    background-color: $contentBack;
    border-radius: $radius;
    margin-right: $gap;
    width: 33%;
    font-size: 14px;

    h2 {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
}

.widget:nth-of-type(3) {
    margin-right: 0;
}