$roboto: "Roboto", "Arial", sans-serif;
$joan: "Joan", "Times New Roman", serif;

$color: white;
$mainBack: #1f253d;
$contentBack: #394165;
$green: #10a8ab;
$yellow: #fab24d;
$red: #cc324c;
$fill: #8a91b5;
$active: #50587c;

$gap: 20px;
$maxWidth: 990px;
$tabletResolution: 1023px;
$mobileResolution: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$radius: 5px;
